= semantic_form_for @observation do |f|
  = f.inputs do
    = f.input :patient, as: :select, collection: Patient.all
  - Observation.measurement_types.each do |type|
    = f.semantic_fields_for "#{type}_measurement".to_sym do |m|
      - case type
      - when 'oxygen_supp'
        = m.input :value, label: "Supplementary Oxygen?"
      - when 'concious'
        = m.input :value, as: :select, collection: ["A", "V", "P", "U"], label: "Conciousness"
      - else
        = m.input :value, label: "#{type}_measurements".classify.constantize.title, input_html: {type: 'tel'}
  = f.actions do
    = f.submit