.text-center
  .btn-group
    .btn.btn-default.disabled= link_to "Observation", new_observation_path
    .btn.btn-default= link_to "Waterlow", new_waterlow_path

= semantic_form_for @observation do |f|
  = f.inputs do
    = f.input :patient, as: :select, collection: Patient.all, input_html: {onchange: "reloadFormAs(this.value);"}
  - Observation.measurement_types.each do |type|
    = f.semantic_fields_for "#{type}_measurement".to_sym do |m|
      - case type
      - when 'oxygen_supp'
        = m.input :value, label: "Supplementary Oxygen?"
      - when 'concious'
        = m.input :value, as: :select, collection: %w(A V P U).map { |val| [humanise_consciousness(val), val] }, label: "Conciousness"
      - when 'vip'
        = m.input :value, as: :select, collection: options_for_select((0..5).to_a, @observation.vip_measurement.value || @observation.patient.try(:getVIP)), label: "VIP Score <small>#{link_to "(Read More)", "http://www.ivteam.com/vipbb.pdf"}</small>".html_safe
      - else
        = m.input :value, label: "#{type}_measurements".classify.constantize.title, input_html: {type: 'tel'}
  = f.actions do
    = f.submit