%tr
	%td
		%strong= title
	- observations.each do |observation|
		%td
			%span.label{:style => "background: #{EWSColor(eval("observation.#{type}_measurement").try {|m| m.getEWS})};"}
				= eval("observation.#{type}_measurement").try {|m| m.value}.humanize || 'nr'