= form_tag '', :method => :get, :class => 'form-inline patient-header' do
	%h1 Patients From
	= select_tag "ward", options_for_select(@filter, @ward), :include_blank => false, :class => "form-control input-lg", :onchange => "this.form.submit();"
	= submit_tag "Filter by Ward", :class => "btn btn-primary btn-lg"

%ul
	- @patients.each do |patient|
		%li.lead 
			%strong= link_to (patient.name || "Name N/R"), patient 
			= patient.mrn
			%span.score{:style => "background: #{EWSColor(patient.getEWS[:rating])};"} 
				= patient.getEWS[:score]

