= render 'filter'

%ul.no-bullets
  - @patients.each do |patient|
    %li.lead
      %strong= link_to (patient.name || "Name N/R"), patient
      = patient.mrn
      %span.ews-score{:style => "background: #{EWSColor(patient.getEWS[:rating])};"}
        = patient.getEWS[:score]
      %span.ews-score= patient.waterlows.last.score unless patient.waterlows.blank?

