- @patient.observations.each_slice(20).with_index do | observations, i |
  %ul.lead.no-bullets#details
    %li 
      %strong NHS Number:
      = @patient.mrn
    %li 
      %strong Surname:
      = @patient.surname
    %li 
      %strong Forname(s):
      = @patient.given_name
    %li
      %strong Ward:
      = @patient.ward.try{|w| w.name}
    %li 
      %strong Address: 
    %li
      %strong D.o.B.:
  = @bp_chart[i]
  .chart{:id => "bp-chart#{i}"}

  = @pulse_chart[i]
  .chart{:id => "pulse-chart#{i}"}

  = @temperature_chart[i]
  .chart{:id => "temperature-chart#{i}"}

  %table.footer
    = render "row", observations: observations, title: 'Conciousness', type: 'concious'
    = render "row", observations: observations, title: 'Oxygen?', type: 'oxygen_supp'
    = render "row", observations: observations, title: 'Oxygen Sat', type: 'oxygen_sat'
    = render "row", observations: observations, title: 'Respiration Rate', type: 'respiration_rate'
    %tr
      %td
        %strong EWS
      - observations.each do |observation|
        %td
          %span.label{:style => "background: #{EWSColor(observation.getEWS[:rating])};"}
            = observation.getEWS[:score]
  - unless @patient.observations.count < 20
    .page-break 