%div.page-header
  %h1 Patients due an observation in the next hour

= render 'ward_filter'

%ul
  - @patients.each do |patient|
    %li.lead
      %strong= link_to (patient.name || "Name N/R"), patient
      - if Time.zone.now > patient.observation_due_at
        %span{ style: 'background: #FFC5C7' }
          = "Observation was due #{ distance_of_time_in_words(Time.zone.now, patient.observation_due_at) } ago"
      - else
        %span
          = "Observation due in #{ distance_of_time_in_words(Time.zone.now, patient.observation_due_at) }"

