= render 'ward_filter'

- @patients.each do |patient|
  %div.row
    %div.col-md-2
      = patient.mrn
    %div.col-md-10
      %ul.list-unstyled
        %li.lead 
          %strong= link_to (patient.name || "Name N/R"), patient 
          = patient.mrn
          %span.score{:style => "background: #{EWSColor(patient.getEWS[:rating])};"} 
            = patient.getEWS[:score]
