%h1
	.pull-right.hidden-sm.hidden-xs
		= link_to 'View PDF Report', patient_path(@patient, format: :pdf), :class => 'btn btn-primary'
		= link_to 'Download PDF Report', download_patient_path(@patient, format: :pdf), :class => 'btn btn-primary'
	= @patient.name || "Name not recorded"
	%span.score{:style => "background: #{EWSColor(@patient.getEWS[:rating])};"} 
		= @patient.getEWS[:score]
	- unless @patient.getEWS[:complete]
		%small [Data Missing]
	.h2= @patient.mrn

%ul#details
	%li= "Supplementary Oxygen: #{@patient.getLatest('oxygen_supp_measurements') || 'N/R'}" 
	%li= "Conciousness Level: #{@patient.getLatest('concious_measurements') || 'N/R'}" 


.visible-sm.visible-xs
	= link_to 'View PDF Report', patient_path(@patient, format: :pdf), :class => 'btn btn-primary'
	= link_to 'Download PDF Report', download_patient_path(@patient, format: :pdf), :class => 'btn btn-primary'

= @pulse_chart
#pulse-chart.col-lg-12.chart

= @oxygen_chart
#oxygen-sat-chart.col-lg-12.chart

= @temperature_chart
#temperature-chart.col-lg-12.chart

= @respiration_rate_chart
#respiration-rate-chart.col-lg-12.chart

= @bp_chart
#bp-chart.col-lg-12.chart

.lead= render "footer"