%h2
  .pull-right.hidden-sm.hidden-xs
    = render "patientbuttons"
  = @patient.name || "Name not recorded"
  %span.ews-score{:style => "background: #{EWSColor(@patient.getEWS[:rating])};"}
    = @patient.getEWS[:score]
  - unless @patient.getEWS[:complete]
    %small [Data Missing]
  .h3= @patient.mrn

%ul#details.no-bullets
  %li= "MRSA: #{@patient.mrsa_carrier.humanize || 'unknown'}" 
  %li= "Supplementary Oxygen: #{@patient.observations.last.oxygen_supp_measurement.try(:value).humanize || 'N/R'}" 
  %li= "VIP Score: #{@patient.observations.last.vip_measurement.try(:value).humanize || 'N/R'}" 
  %li= "Conciousness Level: #{@patient.observations.last.concious_measurement.try(:value) || 'N/R'}" 
  %li= "Time on Ward: #{distance_of_time_in_words(Time.now - @patient.observations.first.recorded_at)}"
  %li= "Time Since Last Observations: #{distance_of_time_in_words(Time.now - @patient.observations.last.recorded_at)}"

.visible-sm.visible-xs
  = render "patientbuttons"

/ #test-chart.col-lg-12.chart

/ = @pulse_chart
/ #pulse-chart.col-lg-12.chart
- @charts_data.each do |chart_data|
  = content_tag "div", id: chart_data[:id], class: "col-lg-12 chart", data: chart_data do
    = "Loading #{chart_data[:title]} Chart..."

/ = @oxygen_chart
/ #oxygen-sat-chart.col-lg-12.chart

/ = @temperature_chart
/ #temperature-chart.col-lg-12.chart

/ = @respiration_rate_chart
/ #respiration-rate-chart.col-lg-12.chart

/ = @bp_chart
/ #bp-chart.col-lg-12.chart

.table-wrapper
  %table.footer.lead
    = render "row", observations: @patient.observations, title: 'Conciousness', type: 'concious'
    = render "row", observations: @patient.observations, title: 'Oxygen?', type: 'oxygen_supp'
    %tr
      %td
        %strong VIP Score
      - @patient.observations.each do |observation|
        %td
          %span.label{:style => "background: #{EWSColor(observation.vip_measurement.try{|v| v.rating})};"}
            = observation.vip_measurement.try(:value) || 'n/r'
    %tr
      %td
        %strong EWS
      - @patient.observations.each do |observation|
        %td
          %span.label{:style => "background: #{EWSColor(observation.getEWS[:rating])};"}
            = observation.getEWS[:score]