.navbar-header
  %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-links"}
    %span.sr-only Toggle navigation
    %span.navbar-text{style: "color: white;"} Menu
  = link_to root_path, :class => 'navbar-brand', :style => 'padding: 10px;' do
    = image_tag "clews-logo-white-xsmall.png", height: 30

.collapse.navbar-collapse.navbar-links
  %ul.nav.navbar-nav.navbar-right
    - if can? :read, Patient
      %li
        = link_to patients_path do
          %i.fa.fa-users.fa-lg
          Patients
    - if can? :read, Reminder
      %li
        = link_to reminders_path do
          %i.fa.fa-th-list.fa-lg
          Tasks
    - if can? :create, Observation
      %li
        = link_to new_observation_path do
          %i.fa.fa-pencil.fa-lg
          Record
    - if request.env['HTTP_USER_AGENT'].downcase.match(/android/)
      %li
        = link_to scan_patients_path do
          %i.fa.fa-camera.fa-lg
          Scan
    - if can? :read, Admin
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", "href" => "#"}
          %i.fa.fa-gears.fa-lg
          %i.fa.fa-caret-down
        %ul.dropdown-menu{"role" => "menu"}
          - if can? :manage, Ward
            %li
              = link_to admin_wards_path do
                %i.fa.fa-bars.fa-lg
                Wards
          - if can? :glance, Admin
            %li
              = link_to admin_glance_path do
                %i.fa.fa-eye
                Glance
    %li.dropdown{"style" => (user_signed_in? ? "background-color: #{RankColor(current_user.rank)};" : "")}
      %a.dropdown-toggle{"data-toggle" => "dropdown", "href" => "#"}
        %i.fa.fa-user.fa-lg
        = current_user.initials if user_signed_in?
        %i.fa.fa-caret-down
      %ul.dropdown-menu{"role" => "menu", "style" => (user_signed_in? ? "background-color: #{RankColor(current_user.rank)};" : "")}
        - if user_signed_in?
          %li
            %a
              = current_user.name
              %small= current_user.rank
              %br
              %small= current_user.email
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out.fa-lg
              Sign out
        - else
          %li
            = link_to new_user_session_path do
              %i.fa.fa-sign-in.fa-lg
              Sign in
