.navbar-header
  %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-links"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to root_path, :class => 'navbar-brand' do
    = image_tag "clews-logo-xsmall.png", height: 20

.collapse.navbar-collapse.navbar-links
  %ul.nav.navbar-nav.navbar-right
    %li= link_to "Patients", patients_path
    %li= link_to "Rounds", rounds_patients_path
    %li= link_to "Glance", admin_glance_path
    %li= link_to "Record", new_observation_path
    %li= link_to "Scan", "zxing://scan/?ret=#{u patients_url}%2F%7BCODE%7D&SCAN_FORMATS=UPC_A,EAN_13"
