.navbar-header
  %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-links"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to root_path, :class => 'navbar-brand' do
    = image_tag "clews-logo-xsmall.png", height: 20

.collapse.navbar-collapse.navbar-links
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to patients_path do
        %i.fa.fa-users.fa-lg 
        Patients
    %li
      = link_to rounds_patients_path do
        %i.fa.fa-th-list.fa-lg
        Tasks
    %li
      = link_to new_observation_path do
        %i.fa.fa-pencil.fa-lg
        Record
    %li.visible-xs
      = link_to "zxing://scan/?ret=#{u patients_url}%2F%7BCODE%7D&SCAN_FORMATS=UPC_A,EAN_13" do
        %i.fa.fa-camera.fa-lg
        Scan
