.navbar-header
  %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-links"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to root_path, :class => 'navbar-brand' do
    = image_tag "clews-logo-xsmall.png", height: 20

.collapse.navbar-collapse.navbar-links
  .navbar-right
    - if user_signed_in?
      .navbar-text= "Hello #{current_user.given_name}!"
    - else
      = link_to "Sign In", new_user_session_path, class: "btn btn-primary navbar-btn"
  %ul.nav.navbar-nav.navbar-left
    %li{:class => "#{'active' if current_page?(patients_path)}"}= link_to "Patients", patients_path
    %li{:class => "#{'active' if current_page?(rounds_patients_path)}"}= link_to "Rounds", rounds_patients_path
    %li{:class => "#{'active' if current_page?(admin_glance_path)}"}= link_to "Glance", admin_glance_path
    %li{:class => "#{'active' if current_page?(new_observation_path)}"}= link_to "Record", new_observation_path

