!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "DRI Early Warning System"
    = csrf_meta_tags
    = wicked_pdf_stylesheet_link_tag "application"
    = wicked_pdf_stylesheet_link_tag "bootstrap"
    = wicked_pdf_stylesheet_link_tag "main"
    = javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"
    = wicked_pdf_javascript_include_tag "bootstrap"
    = wicked_pdf_javascript_include_tag "highcharts"
    = wicked_pdf_javascript_include_tag "bp-chart"
    / Hack to ensure proper display of degrees symbol
    %meta{"charset" => "utf-8"}
    = yield(:head)
  %body#pdf
    .container
      = yield
      